* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  display: grid;
  margin: 0;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  place-items: center;
  background-color: #f0fefb;
  min-height: 100vh;
}